.App {
  text-align: center;
}

.App-header {
  background-color: #fdefb2;
  color: #d44f22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: monospace;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: black;
  width: 100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: gray;
}

.card-body {
  width: 45vw;
  height: 100vh;
  margin: auto;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: white;
  color: black;
}

.display-inline {
  display: inline;
}

.font-helvetica {
  font-family: Helvetica;
}

.clearfix {
  clear: both;
}

.column-50 {
  flex: 50%;
}

.restaurant-image {
  height: 45%;
  width: 100%;
  margin: auto;
  background-size: 100% 100%;
  border-bottom: solid black 10px;
}

.restaurant-info {
  width: 90%;
  margin: auto;
  margin-top: 2.5vmin;
  display: flex;
}

.restaurant-name {
  font-size: 8vmin;
  margin: inherit;
}

.restaurant-price-range {
  font-size: 4.5vmin;
  color: gray;
  margin: inherit;
}

.restaurant-cuisine {
  font-size: 4.5vmin;
  margin: 0;
  margin-top: -1vmin;
}

.restaurant-location {
  font-size: 4.5vmin;
  color: black;
  margin: 0px;
}

.like-dislike-container {
  position: absolute;
  margin-bottom: -50px;
  width: 30vh;
  height: 13vh;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.like-dislike-button {
  border-radius: 50%;
  height: 100%;
  width: 40%;
  background-color: white;
  font-size: 100px;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.like-dislike-button:hover {
  background-color: lightgray;
}

.like-dislike-button:active {
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.red {
  color: red;
}

.filter-content {
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #d44f22;
  font-family: monospace;
  width: 80%;
  min-height: 100vh;
  margin: auto;
}

.filter-header {
  color: #d44f22;
  font-family: monospace;
  padding-top: 10vmin;
  font-size: 5vmin;
  margin: 0;
}

.filter-subheader {
  font-size: 3vmin;
  margin: 2vmin 0 0.8vmin 0;
}

.filter-dietary-restrictions {
  font-size: 3vmin;
  margin: 2vmin 0 0vmin 0;
}

.filter-checkbox {
  font-size: 2.5vmin;
  margin: 0 3vw 0 0.8vw;
}

.filter-submit {
  width: 30vmin;
  color: white;
  border-radius: 10%;
  border: 0;
}

.filter-submit-container {
  height: auto;
  width: auto;
  margin: auto;
}

.filter-submit {
  min-height: 10vmin;
  width: 50vmin !important;
  font-size: 5vmin !important;
  margin: 1vmin 0 2vmin 0;
}

.filter-dropdown {
  font-size: 2vmin;
}

.app-background-color {
  background-color: #fdefb2;
}