.appnav-brand {
  font-weight: bold;
  font-size: 3vmin !important;
}

.app-nav-link {
  font-size: 2vmin !important;
  color: black !important;
  margin: 0 1vmin 0 1vmin;
}

.app-nav-link:hover, .app-nav-active {
  text-decoration: none; 
  position: relative; 
  display: inline-block;
}

.app-nav-active::after, .app-nav-link:hover::after {
  position: absolute;
  content: '';
  height: 0.5vmin;
  bottom: -0.5vmin;
  background: blue; 
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
}

.app-nav-active::after {
  background: orange; 
}

.app-nav-link:hover::after {
  background: blue;
}

.app-nav-link:active {
  color: gray !important;
}

.app-nav-button {
  width: 10vmin !important;
  height: 5vmin !important;
}

.app-nav-signup {
  margin: 0 0vmin 0 1.5vmin;
}

.app-nav-login {
  margin: 0 1vmin 0 3vmin;
}

.home-main-text {
  font-size: 10vmin;
  font-weight: bold;
  padding-top: 15vh;
  margin: 0 auto 2vmin auto;
}

.home-secondary-text {
  font-size: 7vmin;
  margin: 0 auto 5vmin auto;
}

.home-button {
  width: 20vmin;
  height: 10vmin;
  margin: 0 5vmin 0 5vmin;
  font-size: 3vmin !important;
}

.home-tooltip > .tooltip-inner {
  font-size: 2vmin;
}

.App {
  text-align: center;
}

.App-header {
  padding-top: 8vmin;
  /*color: #d44f22;*/
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: monospace;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: black;
  width: 100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: gray;
}

.display-inline {
  display: inline;
}

.font-helvetica {
  font-family: Helvetica;
}

.clearfix {
  clear: both;
}

.column-50 {
  flex: 50%;
}

.like-dislike-container {
  position: absolute;
  margin-bottom: -50px;
  width: 30vh;
  height: 13vh;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.like-dislike-button {
  border-radius: 50%;
  height: 100%;
  width: 40%;
  background-color: white;
  font-size: 100px;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.like-dislike-button:hover {
  background-color: lightgray;
}

.like-dislike-button:active {
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.red {
  color: red;
}

.carousel-indicators li {
  visibility: hidden;
}

.filter-content {
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #d44f22;
  font-family: monospace;
  width: 80%;
  min-height: 100vh;
  margin: auto;
}

.filter-header {
  color: #d44f22;
  font-family: monospace;
  padding-top: 10vmin;
  font-size: 5vmin;
  margin: 0;
}

.filter-subheader {
  font-size: 3vmin;
  margin: 2vmin 0 0.8vmin 0;
}

.filter-dietary-restrictions {
  font-size: 3vmin;
  margin: 2vmin 0 0vmin 0;
}

.filter-checkbox {
  font-size: 2.5vmin;
  margin: 0 3vw 0 0.8vw;
}

.filter-submit {
  width: 30vmin;
  color: white;
  border-radius: 10%;
  border: 0;
}

.filter-submit-container {
  height: auto;
  width: auto;
  margin: auto;
}

.filter-submit {
  min-height: 10vmin;
  width: 50vmin !important;
  font-size: 5vmin !important;
  margin: 1vmin 0 2vmin 0;
}

.filter-dropdown {
  font-size: 2vmin;
}

.app-background-color {
  background-color: white;
}


.carousel-control-next {
  color: black !important;
  right: -7% !important;
}

.carousel-control-prev {
  color: black !important;
  left: -7% !important;
}