.appnav-brand {
  font-weight: bold;
  font-size: 3vmin !important;
}

.app-nav-link {
  font-size: 2vmin !important;
  color: black !important;
  margin: 0 1vmin 0 1vmin;
}

.app-nav-link:hover, .app-nav-active {
  text-decoration: none; 
  position: relative; 
  display: inline-block;
}

.app-nav-active::after, .app-nav-link:hover::after {
  position: absolute;
  content: '';
  height: 0.5vmin;
  bottom: -0.5vmin;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
}

.app-nav-active::after {
  background: #0d6efd; 
}

.app-nav-link:hover::after {
  background: #757575;
}

.app-nav-link:active {
  color: gray !important;
}

.app-nav-button {
  width: 11vmin !important;
  height: 5vmin !important;
}

.app-nav-signup {
  margin: 0 0vmin 0 1.5vmin;
}

.app-nav-login {
  margin: 0 1vmin 0 3vmin;
}

.home-main-text {
  font-size: 10vmin;
  font-weight: bold;
  padding-top: 15vh;
  margin: 0 auto 2vmin auto;
}

.home-secondary-text {
  font-size: 7vmin;
  margin: 0 auto 5vmin auto;
}

.home-button {
  width: 20vmin;
  height: 10vmin;
  margin: 0 5vmin 0 5vmin;
  font-size: 3vmin !important;
}

.home-tooltip > .tooltip-inner {
  font-size: 2vmin;
}

.App-header {
  padding-top: 8vmin;
  /*color: #d44f22;*/
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.orange-button {
  background-color: darkorange !important; 
  border-color: darkorange !important;
}

.orange-button:hover {
  background-color: #CC7000 !important;
  border-color: #CC7000 !important;
}

.orange-button:active {
  background-color: #A35A00 !important;
  border-color: #A35A00 !important;
}

.join-button {
  margin: auto;
  width: 20vmin !important;
  height: 6vmin;
  font-size: 2.5vmin !important;
  margin-top: 1vmin;
}
.join-status {
  color: red;
  font-size: 2.5vmin;
}

.host-button {
  width: 30vmin;
  height: 8vmin;
  font-size: 2.5vmin !important;
  margin: 1vmin auto 1vmin auto;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: black;
  width: 100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: gray;
}

.card-body {
  width: 600px;
  max-width: 80vmin;
  height: 800px;
  max-height: 80vmin;
  margin: auto;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: white;
  color: black;
}

.display-inline {
  display: inline;
}

.like-dislike-container {
  position: absolute;
  margin-bottom: -10vmin;
  width: 60vmin;
  height: 20vmin;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.like-dislike-button {
  border-radius: 50%;
  height: 100%;
  width: 40%;
  background-color: white;
  font-size: 100px;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-indicators li {
  visibility: hidden;
}

.filter-content {
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #d44f22;
  font-family: monospace;
  width: 80%;
  min-height: 100vh;
  margin: auto;
}

.filter-header {
  color: #d44f22;
  font-family: monospace;
  padding-top: 10vmin;
  font-size: 5vmin;
  margin: 0;
}

.filter-subheader {
  font-size: 3vmin;
  margin: 2vmin 0 0.8vmin 0;
}

.filter-dietary-restrictions {
  font-size: 3vmin;
  margin: 2vmin 0 0vmin 0;
}

.filter-checkbox {
  font-size: 2.5vmin;
  margin: 0 3vw 0 0.8vw;
}

.filter-submit {
  width: 30vmin;
  color: white;
  border-radius: 10%;
  border: 0;
}

.filter-submit-container {
  height: auto;
  width: auto;
  margin: auto;
}

.filter-submit {
  min-height: 10vmin;
  width: 50vmin !important;
  font-size: 5vmin !important;
  margin: 1vmin 0 2vmin 0;
}

.filter-dropdown {
  font-size: 2vmin;
}


.carousel-control-next {
  color: black !important;
  right: -7% !important;
}

.carousel-control-prev {
  color: black !important;
  left: -7% !important;
}

.carouselImg > img {
  width: 500px;
  max-width: 75vmin;
  height: 400px;
  max-height: 40vmin !important;
  object-fit: contain;
  top: 50%;
  left: 50%;
}


.carouselReview > p {
  font-size: 1.6vmin;
}

.leaderboard {
  float: left;
  width: 800px;
  max-width: 50vw;
  padding-top: 2vw;
  padding-left: 5vw;
}

.leaderboard-table {
  width: 50vw;
  font-size: 2vmin;
}

.recommend {
  float: right;
  width: 800px;
  max-width: 50vw;
  padding-top: 2vw;
  padding-right: 5vw;
}

.member-names-grid {
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*border: solid 2px black;*/
  
}

.grid-item {
  /*border: solid 3px black;*/
  flex: 1;
  animation: pop 0.25s ease-in-out;
}

@keyframes pop {
  50% {
    transform: scale(1.5);
  }
}