html, body, .signup {
    height: 100vh;
    width: 100vw;
    background-color: #fdefb2;
}
.container{
    font-size: 28px;
    color: #d44f22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8vmin;
    background-color: #fdefb2;
}

.loginSignupForm{
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.inputField{
    padding-top: 16px;
}

.input{
    box-sizing: border-box;
    outline: none;
    border: solid 2px #282c34;
    border-radius: 4px;
    color: #97999d;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: white;
}

.submitButton{
    padding-top: 16px;
}

